.bmi {
  text-align: center;
  background-color: white;
  width: 500px;
  margin: 20px auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid #333;
}

.title {
  font-size: 2em;
}

@media screen and (max-width: 500px) {
  .bmi {
    width: 100%;
    margin: 0px;
    border: none;
  }
}
