.value-box {
  text-align: right;
  font-size: 1.0em;
  color: #2497e3;
  height: 100%;
  float: right;
  position: absolute;
  right: 5px;
  display: flex;
  align-items: center;
  z-index: 2;
}

.value-box-obese {
  color: #af1818;
}
